<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="7zip" />
      <package id="bitwarden-chrome" />
      <package id="bitwarden" />
      <package id="brave" />
      <package id="calibre" />
      <package id="discord" />
      <package id="geforce-experience" />
      <package id="git" />
      <package id="golang" />
      <package id="goxlr-driver" />
      <package id="goxlr" />
      <package id="hugo-extended" />
      <package id="irfanview" />
      <package id="irfanviewplugins" />
      <package id="lghub" />
      <package id="nodejs" />
      <package id="notepadplusplus" />
      <package id="obsidian" />
      <package id="plex" />
      <package id="protondrive" />
      <package id="protonvpn" />
      <package id="qbittorrent" />
      <package id="spotify" />
      <package id="steam" />
      <package id="texlive" />
      <package id="VisualStudioCommunity2022" />
      <package id="visualstudio2022-workload-azure" />
      <package id="visualstudio2022-workload-data" />
      <package id="visualstudio2022-workload-datascience" />
      <package id="visualstudio2022-workload-manageddesktop" />
      <package id="visualstudio2022-workload-netweb" />
      <package id="visualstudio2022-workload-node" />
      <package id="visualstudio2022-workload-python" />
      <package id="visualstudio2022-workload-visualstudioextension" />
      <package id="vlc" />
      <package id="vscode" />
      <package id="wsl2" />
      <package id="yubico-authenticator" />
    </packages>